/* TODO Add site wide styles */
#root {
    background-color: rgb(235, 235, 235);
    height: 100%;
    width: 100%;
}
/* NAVIGATION */

.rootLogo {
    height: 80px;
    width: 140px;
}
.rootLogo {
    height: 80px;
    width: 140px;
}

.nav-container {
    display: flex;
    width: 100%;
    background-color: rgba(104, 5, 5, 1);
    color: white;
    font-weight: 900;
    justify-content: space-between;
}

.nav-container__h1 {
    font-family: serif;
    color: white;
    font-size: 4em;
    font-weight: 900;
    align-self: center;
}

.nav-container__icon-button {
    font-size: 18px;
    padding: 0 13px;
    position: relative;
}

.nav-container__left {
    display: flex;
    margin-left: 40px;
    align-self: center;
    margin-right: 20px;
}

.nav-container__right {
    display: flex;
    margin-left: 20px;
    align-self: center;
    margin-right: 40px;
}

.nav-container__right--loggedOut {
    color: white;
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
    align-self: center;
    margin-left: 10px;
}

.menu-button {
    color: gray;
    text-decoration: none;
    margin-top: 20px;
    font-size: 20px;
}

.demo-button {
    margin-right: 10px;
    border-radius: 25%;
    width: 80px;
    font-size: 14px;
    font-weight: 700;
}

.demo-button:hover {
    background-color: gray;
    color: white;
    font-weight: 900;
}

.logo-container {
    height: 56px;
    width: 56px;
}
.logo-container > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cat-select {
    width:400px;
}
.status-bar {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    display: flex;
    justify-content: space-between;
    /* background-color: rgb(75,75,75); */
    background-color: gray;
    color: white;
    font-weight: 900;
    padding: 10px;
    margin: 13px 0;
    height: 20px;
}

.statusEl {
    margin-right: 140px;
}

.statusEl__result {
    margin-left: 4px;
    text-transform: capitalize;
    /* text-decoration: underline; */
}

.status-bar__select {
    margin-left: 10px;
    width: 140px;
}

.status-bar-select-label {
    margin-bottom: 8px;
}

.status-bar__center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link-selected {
    color: rgb(109, 11, 11);
    font-weight: 900;
}

.news-fetch-button {
    background-color: purple;
    color: white;
    border-radius: 16%;
}

/* Home */
.home-container {
    display: grid;
    grid-template-columns: 15% 70% 15%;
    margin-top: 60px;
}

/* .story-container {
    display: flex;
} */

.home-main__center {
    display: flex;
    justify-content: center;
}

/* .uiButtons {
    max-width: 40px;
    display: flex;
    justify-content: flex-end;
} */

/* Highlight Article */

.highlight-article {
    background-color: white;
    padding: 0 18px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    height: 220px;
    max-width: 840px;
    box-sizing: border-box;
    overflow: hidden;
}

.highlight-article__img {
    width: 35%;
}

.highlight-article__content {
    padding: 0 18px;
}

.highlight-article__content__title {
    font-size: 24px;
    font-weight: 600;
    margin: 20px 0;
}

.highlight-article__content__description {
    font-size: 18px;
    margin-top: 20px;
}

.subHighlight-ImgCardPane {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    max-width: 840px;
}

.home-browseMore-container {
    display: flex;
    justify-content: flex-end;
}

.imgCard-content {
    font-size: 18px;
}

.home-additional-articles-button {
    border: none;
    /* border-bottom: "1px solid gray";
    border-right: "1px solid gray"; */
    transition: '.5s';
    font-size: 14px;
    margin-bottom: 100px;
    color: rgb(63,81,181);
    font-weight: 700;
    border-radius: 18%;
    transition: '.5s',
}

.home-additional-articles-button:hover {
    /* background-color: rgb(63,81,181);
    color: white; */
    color: rgb(103, 121, 221);
    font-weight: 700;
    box-shadow: "7px 7px 5px 0px rgba(50, 50, 50, 0.5)";
    transform: "translate(2px, -8px)";
}

/* ARTICLE CARD */

.article-card {
    display: grid;
    grid-template-columns: 20% 80%;
    height: 180px;
    width: 720px;
    /* background-color: red; */
    border: 1px solid gray;
}

.article-card__content {
    position: absolute;
    height: 40%;
    width: 80%;
    background-color: white;
}

.cat-search-container {
    width: 40%;
    margin: 20px;
}

.cat-select {
    width:140px;
    margin-left: 20px;
}

.results-container {
    display: grid;
    grid-template-columns: 15% 70% 15%;
}

.saved-heading {
    padding-bottom: 20px;
    padding-left: 20px;
    margin-bottom: 10px;
    margin-top: 20px;
    margin-left: 60px;
    font-weight: 600;
    /* background-color: gray; */
    color: gray;
}

.saved-container {
    display: grid;
    grid-template-columns: 15% 70% 15%;
}

.errors-container {
    font-size: 18px;
    padding:12px;
}
    .no-results {
        font-weight: 600;
        color: gray;
        font-size: 36px;
    }
